{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div class="main-title center_element fit-content">

    <div class="magenta-text-shadow">Life that is not recorded is Worth Nothing</div>
    <div class="magenta-text-shadow">all the greatest writings of the world were started by inking a single letter </div>
    
</div>
<div class=" center-elements float-bg-dark magenta-box-shadow padding-b margin-m">
    <section  class="home-section flex gap-b margin-s padding-s"  >
        <article class="float-bg-light cyan-box-shadow padding-s"> 
            <h1>Manage Your Diaries</h1>
            <ul> 
                <li> Write diaries every where and any time </li>
                <li> Edit your diaries date, mood, </li>
                <li> <a href="/advancedsearch"><span class="important-text magenta-box-shadow float-bg-dark">Advanced Search </span> </a>search your logs/diaries based on diffrent moods/ catatories and date </li>
                <li> and so much more ....... </li>
            </ul>
        </article>
        <article class="float-bg-light cyan-box-shadow padding-s"> 
            <h1 class="center-text padding-s">Find patterns in your day to day life</h1>
            <h1>YOU can USE it too......</h1>
            <ul> 
                <li> write log of your daily </li>
                <li> create diffrent "incident catagories and find what trigers those incidents" </li>
                <li> Create "food" and "health" catagory to find out what foods are unpleasent for your health </li>
                <li> and so much more ....... </li>
            </ul>
        </article>
        <article class="float-bg-light cyan-box-shadow padding-m"> 
            <h1>Manage Your Account</h1>
            <ul> 

                <li> Change your Personal information </li>
                <li> Change you email and contact information   </li>
                <li> Change your Username and/or Password </li>
              
            </ul>
        </article>
    </section>

</div>
    
</div>
{% endblock %}
