{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<!-- <div class="main-title center_element fit-content">

    <div>Welcome to Your Diary</div>
</div> -->
<div class="">
    <div class=" center-elements"> <h1 text-shadow-cyan>Manage Your diaries</h1></div>
    <div class=" manage-diary bring-to-front flex center-elements margin-b float-bg-red magenta-box-shadow padding-b">
        <div class="top-part  ">
            <a href="/takelog">
                <div class="write-diary float-bg-light padding-s margin-s cyan-box-shadow"> 
                    <h1> Write Diary</h1>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores perspiciatis magni itaque rerum facilis consequatur libero nam quisquam dolorum. Rerum!
                </div> 
            </a> 
            
            <a href="/editdiary">
                <div class="edit-diary float-bg-light padding-s margin-s cyan-box-shadow"> 
                    <h1>Delete and Restore Diaries</h1>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores perspiciatis magni itaque rerum facilis consequatur libero nam quisquam dolorum. Rerum!
                </div>
            </a>
        </div>

        <div class="bottom-part ">
            <a href="/viewdiary">
                <div class="view-diary float-bg-light padding-s margin- cyan-box-shadow"> 
                    <h1>View Diary</h1>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores perspiciatis magni itaque rerum facilis consequatur libero nam quisquam dolorum. Rerum!
                </div>
            </a>
            <a href="/search">
                <div class="search-diary float-bg-light padding-s margin-b cyan-box-shadow"> 
                    <h1>Search Diary</h1>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores perspiciatis magni itaque rerum facilis consequatur libero nam quisquam dolorum. Rerum!
                </div>
            </a>
        </div>

    </div>


</div>
    
</div>
{% endblock %}
