{% extends "layout.html" %}

{% block title %}

    Log In

    {% endblock %}

{% block main %}

<!-- <div class="main-title center_element fit-content">

    <div>Welcome to Your Diary</div>
</div> -->

<div class="">
    <div class="center-elements"> <h1 text-shadow-cyan> Manage Your Profile</h1></div>
    <div class=" manage-diary bring-to-front flex center-elements margin-b float-bg-dark magenta-box-shadow padding-b">
        
        <div class="top-part  ">
            <a href="/writediary">
                <div class="write-diary float-bg-light padding-s margin-b cyan-box-shadow"> 
                    <h1> Change Email Address</h1>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores perspiciatis magni itaque rerum facilis consequatur libero nam quisquam dolorum. Rerum!
                </div> 
            </a> 
            
            <a href="/editdiary">
                <div class="edit-diary float-bg-light padding-s margin-b cyan-box-shadow"> 
                    <h1>Change username</h1>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores perspiciatis magni itaque rerum facilis consequatur libero nam quisquam dolorum. Rerum!
                </div>
            </a>
        </div>
        <div class="bottom-part ">
            <a href="/viewdiary">
                <div class="view-diary float-bg-light padding-s margin-b cyan-box-shadow"> 
                    <h1>Change Password</h1>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores perspiciatis magni itaque rerum facilis consequatur libero nam quisquam dolorum. Rerum!
                </div>
            </a>
            <a href="/searchdiary">
                <div class="search-diary float-bg-light padding-s margin-b cyan-box-shadow"> 
                    <h1>Change personal Information</h1>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores perspiciatis magni itaque rerum facilis consequatur libero nam quisquam dolorum. Rerum!
                </div>
            </a>
        </div>
    </div>
</div>
</div>
{% endblock %}
