<!-- @format -->

{% extends "layout.html" %} 

{% block main %} 

{% if current_user_name %}
<h3>username:</h3>
{{current_user_name["username"]}} 
{% endif %}


{% if normal_search %} 

<div class="search-container float-bg-dark width-100"> <!-- search container  -->
  <form action="/search" method="POST"> 
    <input id = "generate_catagory" class= "generate-catagory-button" name = "generate_catagory" type="submit" formaction="/advancedsearchcatagories" >
  <div class = "search-header normal-flex-horizontal align-center wrap border-red ">
    
        <div class="search-catagory  normal-flex-veritcal align-center  width-auto border-green">
          <div class="margin-top-m center-text">
            Search Sub_catagory
          </div>
          <div class = "margin-s ">
            <select id= "multipleSelect" class="padding-s" name="search-catagory-id" data-search="True">
              {% for cat_info in all_catagories %}
              <option value='{{ cat_info["catagory_id"]}}'>
                {{ cat_info["catagory_name"]}}
              </option>
              {% endfor %}
            </select>
          </div>
          
          <div >
            <button name="search-button" type="submit" class="my-button-1 self-align-center"
              formaction="/search">
              search
            </button>
          </div>
        </div>  <!-- end of search catagory section-->
      
      <div class="float-bg-cyan">
        <div class="search-date border-blue width-auto normal-flex-horizontal wrap">
          <!-- <form action="/seachdate"> -->
            <div class = "normal-flex-vertical wrap">
              <input type="date" name="start-date" class = "border-green">
              <!-- <label for="date-upto">upto</label> -->
            </div>

            <div>
              <input class = "chekbox-size-m" name="date-upto-check-box" type="checkbox" value="upto"> Upto 
            </div>

            <div>
              <input type="date" name="end-date">
            </div>

            <div>
            
            </div>
          
        </div>
        <div class="padding-s float-bg-light-s">
          <!-- <select id ="mulitpleSelect" multiple name="native-select" placeholder="Native Select" data-search="True" data-silent-initial-value-set="true"> -->
            <!-- TODO: catagory type -->
            <select  name="catagory-type" class="padding-s margin-bottom-s" placeholder="Select Catagory Type" onchange = 'document.getElementById("generate_catagory").click()' onload = 'document.getElementById("generate_catagory").click()'>
              
              {% for type in catagory_types %}
                
                <option value="{{type['catagory_type_id']}}"> {{ type["catagory_type_name"] }} </option>
                
              {% endfor %}
            
            </select>
            <input class ="chekbox-size-m" name="search-type-check-box" type="checkbox" value="search-by-type" class=""> Search By CatagoryType 
          </div>
          <div class=" width-100 margin-m ">
            <select id ="mulitpleSelect" class="mulitple-select  custom-width-400" multiple name="sub-catagory" placeholder="Select SUB Catagories" data-search="True" data-silent-initial-value-set="true">            
              {% for catagory in catagories %}
                  {% if catagory["catagory_name"]%}
                      <option value= '{{catagory["catagory_id"] }}' >{{catagory["catagory_name"]}}</option>
                  {% endif %}
              {% endfor %}
            </select>
          
          </div>
          <div class="center-elements ">
              <button type = "submit" class = "my-button-1 cyan-box-shadow self-align-center"  formaction="/simpledate">Search</button>
          </div>
        </div>

      
  </div> <!-- end of search-catagory division-->

  </div> <!-- end of search-header-->
</form>

  <!--TODO: RESULT PART RESULT CONTAINER  --------------------------------------------------------------->
  <div class="search-result width-100">
    <div class = "center-elements flex">
      <div class="width-100 float-bg-light flex-horizontal">
        <div class= "flex-horizontal  center-text">
          <h3 class="margin-right-s">  {% if results %}  {{ number_of_results }} results  {% endif %} </h3>
          <h3 class="margin-right-s">
            {% if start_date %} {{start_date }} {% endif %}  
            {% if end_date %} to {{ end_date }} {% endif %}
          </h3>
        </div>
    </div>
    </div>
    {% if results %} 
    <div class="align-left border-red">
      {% for result in results %}
      
            <table class="float-bg-cyan">
              <tbody>
                <tr class = "float-bg-dark">
                  <td class="align-left "> {{result["diary_id"]}} <h3> {{result["given_date"]}} </h3> {{result["catagory_name"]}} </td>
                  
                  <td class="align-left "> {{result["diary_content"]}}</td>
                </tr>
              </tbody>
            </table>
          
      {% endfor %} 
    </div>  
    
    
    {% else %}
    
      <h3> Display all user diaries here search your diary</h3>
    
    </div>
    
    {% endif %} 
  
  {% endif %}

</div><!-- end of container div -->
{% endblock %}
  