<!-- @format -->

{% extends "layout.html" %} 

{% block main %} 



{% if normal_search %} 

<div class="search-container  width-100"> <!-- search container  -->
  
  <!-- <div id="save-reference" class="flex-vertical-center" > 
    <div class = "save-reference-text" formaction = "/addreference"> <a href="/addreference" >Save</a> </div>
    <div>..|.. </div>
    <div class = "Cancel-reference-text" onclick="showReferencerCheckboxes()"><a href="#">Cancel</a></div>
    
  </div> -->

<!-- TODO: ============= START OF TOP ADVANCED SEARCH PART ======================= -->
  <form action="/search" method="POST"> 
    <input id = "generate_catagory" class= "generate-catagory-button" name = "generate_catagory" type="submit" formaction="/advancedsearchcatagories" >
  <div class = "search-header normal-flex-horizontal align-center wrap border-red ">
  
        <div class="search-catagory  normal-flex-veritcal align-center  width-auto border-green">
          <div class="margin-top-m center-text">
            Search Sub_catagory
          </div>
          <div class = "margin-s ">
            <select id= "multipleSelect" class="padding-s" name="search-catagory-id" data-search="True">
              {% for cat_info in all_catagories %}
              <option value='{{ cat_info["catagory_id"]}}'>
                {{ cat_info["catagory_name"]}}
              </option>
              {% endfor %}
            </select>
          </div>
          
          <div >
            <button name="search-button" type="submit" class="my-button-1 self-align-center"
              formaction="/search">
              search
            </button>
          </div>
        </div>  <!-- end of search catagory section-->
      
      <div class="float-bg-light">
        <div class="search-date border-blue width-auto normal-flex-horizontal wrap">
          <!-- <form action="/seachdate"> -->
            <div class = "normal-flex-vertical wrap">
              <input type="date" name="start-date" class = "border-green">
              <!-- <label for="date-upto">upto</label> -->
            </div>
            
            <div>
              <input class = "chekbox-size-m" name="date-upto-check-box" type="checkbox" value="upto"> Upto 
            </div>
            
            <div>
              <input type="date" name="end-date">
            </div>
            
            <div>
            
            </div>
          
        </div>
        <div class="padding-s float-bg-light">
          <!-- <select id ="mulitpleSelect" multiple name="native-select" placeholder="Native Select" data-search="True" data-silent-initial-value-set="true"> -->
            <!-- TODO: catagory type -->
            <select  name="catagory-type" class="padding-s margin-bottom-s" placeholder="Select Catagory Type" onchange = 'document.getElementById("generate_catagory").click()' onload = 'document.getElementById("generate_catagory").click()'>
              
              {% for type in catagory_types %}
                
                <option value="{{type['catagory_type_id']}}"> {{ type["catagory_type_name"] }} </option>
                
              {% endfor %}
            
            </select>
            <input class ="chekbox-size-m" name="search-type-check-box" type="checkbox" value="search-by-type" class=""> Search By CatagoryType 
          </div>
          <div class=" width-100 margin-m ">
            <select id ="mulitpleSelect" class="mulitple-select  custom-width-400" multiple name="sub-catagory" placeholder="Select SUB Catagories" data-search="True" data-silent-initial-value-set="true">            
              {% for catagory in catagories %}
                  {% if catagory["catagory_name"]%}
                      <option value= '{{catagory["catagory_id"] }}' >{{catagory["catagory_name"]}}</option>
                  {% endif %}
              {% endfor %}
            </select>
          
          </div>
          <div class="center-elements ">
              <button type = "submit" class = "my-button-1 cyan-box-shadow self-align-center"  formaction="/simpledate">Search</button>
          </div>
        </div>
      
      
  </div> <!-- end of search-catagory division-->

  </div> <!-- end of search-header-->
<!-- </form> -->
<!-- TODO: ============= END OF  OF TOP ADVANCED SEARCH PART ======================= -->
<div class="flex-horizontal-center">

<button type="submit" formaction = "/viewreferences"> view reference </button>
<button type="submit" formaction = "/loadjsonreference">  reference JSON data </button>
</div>
  <!--TODO: RESULT PART RESULT CONTAINER  --------------------------------------------------------------->
  <div class="search-result width-100">
    <div class = "center-elements flex">
      <div class="width-100 float-bg-light flex-horizontal">
        <div class= "flex-horizontal  center-text">
          <h3 class="margin-right-s">  {% if results %}  {{ number_of_results }} results  {% endif %} </h3>
          
          <h3 class="margin-right-s">
            {% if start_date %} {{start_date }} {% endif %}  
            {% if end_date %} to {{ end_date }} {% endif %}
          </h3>
        </div>
    </div>
    </div>
    {% if results %} 
    <div class="align-left ">
      <input type="text" id="referenced-by-input-id"  name="user-diary-id" value = 0 >
      {% for result in results %}
            <div id = "reference-form" class="flex-form">
              <div class="margin-bottom-s">  
                <select name="reference-type"  id="reference-type-id" class = "width-190 padding-s">
                  <option value="11">1</option>
                </select>
              </div>

              <div>
                <select name="reference-name-id" id="reference-name-id" class = " width-190 padding-s">
                  <option value="1">1</option>
                  
                </select>
                
                
              </div>
              
              
            </div>
            <div class="float-bg-yellow width-100" >
            <table class="float-bg-white width-100">
            
            <!-- TODO: ============= START OF TOP BOTTOM DISPLAY FORM ======================= -->
              <!-- <form  action = "/addreference" method ="POST" > -->

              <!-- todo: popup save form design--------------------------- -->
                <div  class="flex-vertical-center" >

                  <!-- <div class = "save-reference-text"> <button id="save-reference" type="submit" formaction="/addreference"  >Save</button> </div> -->
                  <!-- <div>..|.. </div> -->
                  <div class = "save-reference-text" ><button id="cancel-reference"  onclick="showReferencerCheckboxes()" >Cancel</button> </div>
                  
                </div>
                
                <div  class="flex-vertical-center" >
                  <div class = "save-reference-text"> 
                    <button id="save-reference" type="submit" formaction="/addreference"> Save </button>
                    
                    
                  </div>
                  <!-- <div>..|.. </div> -->
                  <!-- <div class = "save-reference-text" ><button id="cancel-reference"  onclick="showReferencerCheckboxes()" >Cancel</button> </div> -->
                  
                </div>
              <!-- todo:end of popup save form design--------------------------- -->
              <tbody>
                <div class="black-box-shadow">
                <tr class="float-bg-light">
                  <td>
                  <div class = "flex-horizontal ">

                    <!-- <input type="text" id="referenced-by-diary-id" hidden name="user-diary-id" value = '{{result["ud_id"]}}' > -->
                    <!-- <input type="text" id="referencer-diary-id" hidden name="user-diary-id------" value = '{{result["ud_id"]}}'> -->
                      <!-- TODO: Check boxes -------------------------------------------------- -->
                      <!-- <input type="text" id="referenced-by-diary-id"  name="user-diary-id" value = '{{result["ud_id"]}}' > -->
                      <input type="checkbox" name = "referenced-by-id" id = "referenced-by-id" value='{{result["ud_id"]}}' onchange = 'diaryReference()'> <span id = "referencer-text" class="align-left">Ref </span> 
                      <input type="checkbox" name = "referenced-id" id = "referenced-id" value='{{result["ud_id"]}}'>
                      <!-- <input type="checkbox" name = "check-box" value = "tom" > -->
                      
                      <!-- TODO: end of check boxes------------------------------------------------- -->
                      <!-- todo: if there is a reference name then display it in drop down option -->
                      
                      {% if reference_name %}
                        <select name="reference-name-list" id="reference-name-list">
                          <option value="1">Default-Link</option>
                          {% for ref_name in reference_name %}
                            <option value= 'ref_name["reference_name_id"]}}'> {{ref_name["reference_name"]}} </option>
                          {% endfor %}
                          
                        </select>
                      {% endif %}
                      <button type="submit" class= "my-button-1" id = "link-button" onclick="showReferencerCheckboxes()">Link</button>
                      
                  </div>
                </td> 
                </tr>
                  
                  <td class="align-left padding-m flex">
                    <div class="">
                      <span class=" width-190 margin-right-m">[user-diary-id:- {{result["ud_id"]}} ]</span >
                      <span class=" width-190 margin-m"> [d-id:- {{result["d_id"]}}] </span>
                      <span class=" width-190 margin-m">{{result["given_date"]}} </span>
                      
                    </div>
                  </td>
                  <td class="align-left ">
                    <div class="float-bg-light padding-m">
                      {{result["diary_content"]}} </td>
                    </div>
                  <td class = "align-left" >
                    <div class = "flex-search">  
                    {% for catagory in result["sub_catagories"] %} 
                        
                        <div class=" flex-searh margin-m border-green">
                          [{{catagory["catagory_id"]}}- {{catagory["catagory_name"]}} ]
                        </div>
                      
                    {% endfor %}
                  </div>
                  </td>
                  <td class = "align-left " > 
                    
                      <div class="flex float-bg-red  margin-left-m">
                        {% for reference in result["content_reference"] %} 
                          
                            
                              <div class=" float-bg-light padding-s margin-s">
                                <div> [{{ reference["referenced_ud_id"]}} - {{ reference["reference_name"]}}]</div>
                                <div>  {{reference["referenced_diary_content"]}}</div>
                              </div>
                              
                            
                        {% endfor %}
                      </div>

                    
                  </td>
                  <!-- <input type="text" id="referenced-by-diary-id"  name="user-diary-id" value = '{{result["ud_id"]}}' > -->
                </tr>
                
                </tr>
              </div>
              </tbody>
            <!-- </form> -->
            </table>
            <!-- TODO: ============= START OF TOP BOTTOM DISPLAY FORM ======================= -->
          </div>
      {% endfor %} 
    </div>  
    
    {% else %}
    
      <h3> Display all user diaries here search your diary</h3>
    
  </div>
    
    {% endif %} 
  </form>
  
  {% endif %}

</div><!-- end of container div -->

{% endblock %}
