{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    {% if warning %}
      <div class = "alert-red">
              {{warning}}  
      </div>
    {% endif %}
    
  <div>
    <form action="/writediaryV2" method="POST">
      <select id ="mulitpleSelect" multiple name="native-select" placeholder="Native Select" data-search="True" data-silent-initial-value-set="true">
      
        <option value="1">one</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      
      
      </select>
      
      <input type="submit" value = "load">
    </form>
      <select id ="mulitpleSelect" multiple name="native-select-2" placeholder="Native Select" data-search="True" data-silent-initial-value-set="true">
      
        {% for cat_type in sub_catagories %}
              <option value='{{ cat_type["catagory_id"]}}'>
                {{ cat_type["catagory_name"]}}
              </option>
          
        {% endfor %}
      
      </select>
      
  
  </div>

{% endblock %}

<!-- todo: working backup code-->
<!-- <div class="center">
  <form action="/writediaryV2" method="POST">
    <div>
      <select id ="mulitpleSelect" multiple name="native-select" placeholder="Native Select" data-search="True" data-silent-initial-value-set="true">
        {% for cat_type in sub_catagories %}
              <option value='{{ cat_type["catagory_id"]}}'>
                {{ cat_type["catagory_name"]}}
              </option>

        {% endfor %}
      </select>
    </div>
    <button type="submit"> submit </button>
  <form>
<div>
  
</div>
</div> -->
<!-- todo: end of working backup code  -->


