{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    {% if warning %}
      <div class = "alert-red">
              {{warning}}  
      </div>
    {% endif %}
  
  <div class="border-red">
    
    <form action="/takelog" method="POST">
      <input id = "generate_catagory" class= "generate-catagory-button" name = "generate_catagory" type="submit" formaction="/generatecatagory" >

      <div class="flex-horizontal padding-s border-blue">
        
          <div class="center-elements margin-top-s margin-bottom-s border-red">give log DATE</div>
          <div class="center-elements margin-top-s margin-bottom-s border-red">give log TIME</div>
      </div>
          
      <div class="flex-horizontal padding-s  border-blue">
      
        <div class = "center-elements margin-m align-left border-black">
          <input class="input-width center-text" name = "given-date" type="date"> 
        </div>
        <div class = "center-elements margin-m align-left border-black">
          <input class="input-width center-text padding-m" name = "given-time" type="time"> 
        </div>
      
      </div>
      <div class="padding-s">
      <!-- <select id ="mulitpleSelect" multiple name="native-select" placeholder="Native Select" data-search="True" data-silent-initial-value-set="true"> -->
        <select  name="catagory-type"  placeholder="Select Catagory Type" onchange = 'document.getElementById("generate_catagory").click()' onload = 'document.getElementById("generate_catagory").click()'>
          
          {% for type in catagory_types %}
            
            <option value="{{type['catagory_type_id']}}"> {{ type["catagory_type_name"] }} </option>
            
          {% endfor %}
        
        </select>

        <select id ="mulitpleSelect" class="mulitple-select" multiple name="native-select" placeholder="Select SUB Catagories" data-search="True" data-silent-initial-value-set="true">            
          {% for catagory in catagories %}
              {% if catagory["catagory_name"]%}
                  <option value= '{{catagory["catagory_id"] }}' >{{catagory["catagory_name"]}}</option>
              {% endif %}
          {% endfor %}
        </select>
  
  </div>
  <div><input type="submit" value = "load"></div>
  <div>
    <textarea id = "get-diary-text-area" class="diary-box neon-box-shadow" name="diarytextarea" row= "20"
                            placeholder="Write your diary Here" type="text" style="width: 100%;
                            min-height: 25vh;"> 

          {% if diary_text %}
              {{diary_text}}
          {% endif %}
                            
    </textarea>
    
  </div>
  <div>
    <input name="diary-description" type="text" name="discription" placeholder = "type in description">
  </div>
  <div>
    <button type="submit" class="my-button-1">Save </button>
  </div>
  
</form>
{% endblock %}

<!-- todo: working backup code-->

<!-- todo: end of working backup code  -->


