{% extends "layout.html" %}

{% block main %}


<div class = "magenta-box-shadow">




    


{% if view_all %}

    {% for diary_info in diary %}
        <p>{{ index(diary_info) + 1}}--{{ diary_info["diary_content"]  }} --{{ diary_info["username"]  }}---{{ diary_info["catagory_name"] }} ---{{ diary_info["diary_written_date"] }}--{{ diary_info["  "] }} </p>

    {% endfor %}

{% endif %}

{% if view_all_condensed %}

    {% for diary_info in diary %}
    <p>{{ diary_info["number"]  }} --{{ diary_info["username"]  }}---{{ diary_info["diary_content"] }} ---{{ diary_info["diary_written_date"] }}- <span class="cyan-box-shadow">{{ diary_info["catagory0"] }}--{{ diary_info["catagory1"] }}--- {{ diary_info["catagory2"] }}</span></p>


    {% endfor %}

{% endif %}

    <!--

    {% if view_writen_diary %}
    <p>{{diary["diary_id"]}}-- {{diary["diary_content"]}}</p>
        {% if catagory %}
    <p>  {% for cat_info in catagory %}
            <span> ({{cat_info["catagory_name"]}}) </span> 

        {% endfor %}
        {% endif %}
        
    </p> 
    {% endif %}
-->
    

    
    




</div>

<div>

</div>

<div>
    
</div>
{% endblock %}


